Options -MultiViews
    RewriteEngine On
    RewriteCond %{login} !-f
    RewriteRule ^/login(.*)$    /index.html [L]
    RewriteRule ^/signup(.*)$    /index.html [L]
    RewriteRule ^/competition(.*)$ /index.html [L]